<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nasa's Gallery</title>
  <link rel="stylesheet" href="../static/assets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="../static/Favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/Favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/Favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/Favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/Favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/Favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/Favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/Favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/Favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/Favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/Favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/Favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/Favicon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <header>
    <nav class="custom-navbar">
      <div class="logo">
          <img src="../static/assets/images/Nasa_Image.png" alt="NASA Logo" width="112" height="28">
      </div>


      <div class="post-button">
        <a class="button custom-button" href="https://twitter.com/intent/tweet?text=@NASA Where are the aliens...?"
          target="_blank">
          <span class="icon">
            <img src="../static/assets/images/x-twitter.svg" class="fab fa-twitter">
          </span>
          <span style="color: black;">Post</span>
        </a>
      </div>
    </nav>
  </header>



  <div class="search-container">
    <form method="POST" class="search-form">
      <input class="search-bar" name="user-input" type="search" placeholder="Explore the cosmos.." aria-label="Search">
      <button class="submit-button" type="submit">Search</button>
    </form>
  </div>

  <div id="modal" class="modal">
    <div class="modal-background"></div>
    <div id="modal-size" class="modal-card">
      <header class="modal-card-head">
        <p id="modal-title" class="modal-card-title">{{ modal_resources['title'] }}</p>
        <button id="closeBtn" class="delete" aria-label="close"></button>
      </header>
      <section id="modal-section" class="modal-card-body">
        <div class="modal-img-container">
          <img src="{{ modal_resources['image'] }}">
        </div>
        <div class='modal-p-container'>
          <p class="modal-p">{{ modal_resources['description'] }}</p>
        </div>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
  </div>
  


  <div class="gallery-container">
    
    {% if videos_manifests %}
    {% for video_manifest in videos_manifests %}
        {% for item in video_manifest['manifest']['collection']['items'] %}
            {% if item.href.endswith('.mp4') %}
                <video width="560" height="315" controls>
                    <source src="{{ item.href }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
        {% endfor %}
    {% endfor %}
  {% endif %}

{% if not videos_manifests %}
<div class="main-img-container">
  <img src="../static/assets/images/BlackHole.jpg" alt="Black hole in space">
</div>

<div class="first-vid-container">
  <iframe width="530" height="240" src="https://www.youtube.com/embed/Sv3eXRN7hLo?controls=0"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>

<div class="apollo-img">
  <img src="../static/assets/images/Apollo_NA.jpg">
</div>

<div class="rover-img-div">
  <img src="../static/assets/images/roverselfie.jpg">
</div>

<div class="space-team-img-div">
  <img src="../static/assets/images/SpaceTeam to the moon..jpg" alt="">
</div>

<div class="second-vid-container">
  <iframe width="530" height="240" src="https://www.youtube-nocookie.com/embed/n--9w6zt9MM?controls=0"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>

<div class="rogue-img-div">
  <img src="../static/assets/images/RoguePlanet1600.jpg">
</div>

<div class="third-vid-container">
  <iframe width="530" height="240" src="https://www.youtube-nocookie.com/embed/lPyl6d2FJGw?controls=0"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>

<div class="milky-way-img-div">
  <img src="../static/assets/images/Milky_way.jpeg" alt="">
</div>

<div class="bhm-img-div">
  <img src="../static/assets/images/bhm_bluford_sts-8_on_treadmill_s08-13-0361.jpg">
</div>

<div>
  <iframe width="530" height="240" src="https://www.youtube-nocookie.com/embed/TgVorJfM8BM?controls=0"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>

<div>
  <iframe width="530" height="240" src="https://www.youtube-nocookie.com/embed/9ekFE2RxBMI?controls=0&amp;start=229"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>

<div class="dark-matter-div-img">
  <img src="../static/assets/images/darkMatter.jpg">
</div>

<div class="moon-div">
  <img src="../static/assets/images/iss068e036313_orig.jpg" alt="">
</div>

<div>
  <iframe width="550" height="240" src="https://www.youtube-nocookie.com/embed/i93Z7zljQ7I?controls=0&amp;start=229"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>
{% endif %}

{% if api_media %}
    <!-- API images -->
    {% for image in api_media['images'] %}
    <img src="{{ image }}" alt="Nasa Image">
    {% endfor %}
{% endif %}

  </div>
  <script src="../static/assets/script.js"></script>
</body>

</html>