{% extents "base.html" %} {% blockends %}


<div class="gallery-container">
    <div class="main-img-container">
      <img src="../static/assets/images/BlackHole.jpg" alt="Black hole in space">
    </div>
    
    <div class="first-vid-container">
       <iframe width="530" height="240" src="https://www.youtube.com/embed/Sv3eXRN7hLo?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="apollo-img">
      <img src="../static/assets/images/Apollo_NA.jpg">
    </div>

    <div class="rover-img-div">
      <img src="../static/assets/images/roverselfie.jpg">
    </div>

    <div class="space-team-img-div">
      <img src="../static/assets/images/SpaceTeam to the moon..jpg" alt="">
    </div>

    <div class="second-vid-container">
      <iframe width="530" height="240" src="https://www.youtube-nocookie.com/embed/n--9w6zt9MM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="rogue-img-div">
      <img src="../static/assets/images/RoguePlanet1600.jpg">
    </div>

    <div class="third-vid-container">
      <iframe width="530" height="240" src="https://www.youtube-nocookie.com/embed/lPyl6d2FJGw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="milky-way-img-div">
      <img src="../static/assets/images/Milky_way.jpeg" alt="">
    </div>

    <div class="bhm-img-div">
      <img src="../static/assets/images/bhm_bluford_sts-8_on_treadmill_s08-13-0361.jpg">
    </div>

    <div>
      <iframe width="530" height="240" src="https://www.youtube-nocookie.com/embed/TgVorJfM8BM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div>
      <iframe width="530" height="240" src="https://www.youtube-nocookie.com/embed/9ekFE2RxBMI?controls=0&amp;start=229" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    
    <div class="dark-matter-div-img">
      <img src="../static/assets/images/darkMatter.jpg">
    </div>

    <div class="moon-div">
      <img src="../static/assets/images/iss068e036313_orig.jpg" alt="">
    </div>

    <div>
      <iframe width="550" height="240" src="https://www.youtube-nocookie.com/embed/i93Z7zljQ7I?controls=0&amp;start=229" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

  </div>
